{% extends "shared/base.html" %}
{% load static %}
{% block title %} پیام ها {% endblock %}

{% block body %}
<div class="row mt-3">
    <div class="col-lg-4">
        <div class="users">
            {% for i in direct_messages %}
            <div class="each-user border rounded my-2 p-3 cursor-pointer" onclick="GetLastMessages()">
                {% if i.sender.profile.profile_image %}
                <img src="{{i.sender.profile.profile_image.url}}" width="100px;height:100px" alt="User Image" class="img-thumbnail user-image-direct">
                {% else %}
                <img src="{% static 'img/unknownuserimage.png' %}" width="100px;height:100px" alt="User Image" class="img-thumbnail user-image-direct">
                {% endif %}
                <h6 class="me-4 mt-3">
                    {{i.sender.username}}
                </h6>
                <h6 class="me-4">
                    آخرین بازدید : 2 ساعت پیش
                </h6>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-8 border rounded">
        <div class="row">
            
            
            <input type="text" name="" id="" class="form-control position-relative">
            <div class="position-absolute btn-send-message-direct">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-send-fill" viewBox="0 0 16 16">
                    <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                  </svg>

            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/direct.js' %}"></script>
{% endblock %}