{% extends "shared/base.html" %}
{% load static %}
{% block title %} پیام ها {% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'css/ChatStyle.css' %}">
{% endblock %}
{% block body %}
<div class="row mt-3">
    <div class="col-lg-4">
        <div class="users">
            {% for i in direct_messages %}
            <div class="each-user border rounded my-2 p-3 cursor-pointer" onclick="GetLastMessages()">
                {% if i.sender.profile.profile_image %}
                <img src="{{i.sender.profile.profile_image.url}}" width="100px;height:100px" alt="User Image" class="img-thumbnail user-image-direct">
                {% else %}
                <img src="{% static 'img/unknownuserimage.png' %}" width="100px;height:100px" alt="User Image" class="img-thumbnail user-image-direct">
                {% endif %}
                <h6 class="me-4 mt-3">
                    {{i.sender.username}}
                </h6>
                <h6 class="me-4">
                    آخرین بازدید : 2 ساعت پیش
                </h6>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-8 border rounded">
        
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'js/direct.js' %}"></script>
{% endblock %}