{% load static %}
<html lang="fa-ir" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %} {% endblock %}
    </title>
    {% include "shared/HeaderRefrence.html" %}
</head>
<body>
    {% include "shared/Header.html" %}
    {% block styles %}{% endblock %}
    <div class="container">
        {% block body %}
        {% endblock %}
    </div>
    {% include "shared/FooterRefrence.html" %}
</body>
</html>